.title {
    text-align: center;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
}

.grid {
    display: block;
    border: 1px solid black;
    margin: auto auto;
}

.controls {
    width: 50%;
    margin: 20px auto;
    background-color: gray;
}

input[type=button] {
    width: 100%;
}