@import 'base';

body {
    background: #5DB4F2;
}

$canvas_width:  600px;
$button_height: 50px;
$button_font_height: $button_height / 2;

.title {
    color: #F3FAFE;
    background: #259DF2; 
    line-height: 200px;
    text-align: center;
    font-size: 36px;
    font-family: 'Mogra', cursive;
    margin-bottom: -15px;
}

.wrap {
    @include clearfix;
    width: 810px;
    margin: 0 auto;

    .grid {
        background: #9ACFF5;
        display: block;
        margin: 0 auto;
        width: $canvas_width;
        height: $canvas_width;
        float: left;
    }

    .controls {
        width: 200px;
        float: left;
        margin-left:10px;
        margin-top: 20px;
    }

    .control {
        margin-top: 5px;
        background: #FF8457;

        input {
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 80%;

        }

        h3 {
            font: $button_font_height 'Pacifico', cursive;
            text-shadow: 0px -2px #D1B358;
            text-align: center;
            color: #FFF6F3;
        }

    }

    .button {
        display: block;
        font: $button_font_height 'Pacifico', cursive;
        text-shadow: 0px -2px #D1B358;
        text-decoration: none;
        height: $button_height;
        line-height: $button_height;
        text-align: center;
        border-right: 5px solid #FF8457;
        margin-top: 5px;
        transition: 0.1s;

    }

    .button-active {
        color: #FFF6F3;
        background: #FF8457;

        &:hover {
            border-right: 5px solid darken(#FF8457, 25%);
        }

        &:active {
            transform: translate(0px, 5px);
        }
    }

    .button-inactive {
        color: darken(#FFF6F3, 20);
        background: #FF8457;
        cursor: default;
    }
}