@import 'base';

body {
    background: #5DB4F2;
}

$canvas_width:  600px;
$button_height: 150px;

.title {
    color: #F3FAFE;
    background: #259DF2; 
    line-height: 200px;
    text-align: center;
    font-size: 36px;
    font-family: 'Mogra', cursive;
    margin-bottom: -15px;
}

.wrap {
    @include clearfix;
    width: 810px;
    margin: 0 auto;

    .grid {
        background: #9ACFF5;
        display: block;
        margin: 0 auto;
        width: $canvas_width;
        height: $canvas_width;
        float: left;
    }

    .controls {
        width: 200px;
        float: left;
        margin-left:10px;

    }

    .button {
        color: #FFF6F3;
        font: 18px 'Mogra', cursive;
        height: $button_height;
        line-height: $button_height;
        text-align: center;
        background: #FF8457;
        margin-bottom: 10px;
    }
}
